/* Ribbons */
  .ribbon {
  font-size: 16px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

  width: 50%;
      
  position: relative;
  background: #ba89b6;
  color: #fff;
  text-align: center;
  padding: 1em 2em; /* Adjust to suit */
  margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
  }
  .ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #986794;
  z-index: -1;
  }
  .ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  }
  .ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  }
  .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #804f7c transparent transparent transparent;
  bottom: -1em;
  }
  .ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
  }
  .ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
  }
  .non-semantic-protector { position: relative; z-index: 1; }
/*ARROWS*/
  .squareR{
    width:0;
    height:0;
  /*   position:relative; */
  
  /* making squares just involves setting a border and the rest of the directions color to transparent*/
    border-right:10px solid transparent;
    border-left:10px solid black;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
  }

  .squareL{
    width:0;
    height:0;
  /*   position:relative; */
  
  /* making squares just involves setting a border and the rest of the directions color to transparent*/
    border-right:10px solid transparent;
    border-left:10px solid black;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
  }


  .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
  }

  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid #f00;
  }

  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    
    border-left: 30px solid green;
  }

  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid blue; 
  }




































/*Page styles fuck off */
  .htmlIsSuchADick{
      white-space: pre-line;

  }

  @import url('https://fonts.googleapis.com/css?family=Raleway');
  div{
    margin:0;
    padding:0;
  }
  body {
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #eee;
    max-height:100vh;
  }

  .container {
  display:flex;
  justify-content: center;
  align-items: center;
    background-color: #fff;
  }
  .container * {
    line-height: 1.5;
    /* margin:   */
    
  }

  body {
    font-family: 'Roboto', sans-serif; }

  h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif; }

  .testdiv {
    max-width: 50em;
    margin: 0 auto;
    background-color: #fff; }
    .testdiv div, .testdiv p {
      padding: 4em;
      transition: all 0.5s; }
      .testdiv div:hover, .testdiv p:hover {
        box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.71); }

  .layer, .layerbtab {
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    background-color: #fff; }

  span,
  input,
  form,
  p,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  ul,
  li,
  a {
    margin: 0; }

  /* Importing Layout FIles */
  html {
    font-size: 16px; }

  body {
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #eee; }

  a {
    color: #1fa635;
    transition: 0.5s all;
    text-decoration: none; }
    a:hover {
      color: #27d15f; }

  li {
    list-style: none;
    list-style-image: none; }

  h1 {
    font-size: 2rem; }

  h2 {
    font-size: 1.8rem; }

  h3 {
    font-size: 1.6rem; }

  h4 {
    font-size: 1.4rem; }

  h5 {
    font-size: 1.2rem; }

  .testdiv {
    border-radius: 3px; }

  .layer, .layerbtab {
    text-align: center;
    margin: 0 auto;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.71); }

  .layerbtab .table {
    text-align: center;
    margin: 0 auto; }